{% load i18n %}
<!doctype html>
<html>
<head>
  <title>{% translate 'Log in' %}</title>
</head>
<body>
  {% if request.user.is_authenticated %}
  <form action="{%  url 'hidp_accounts:logout' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'hidp_accounts:login' %}">
    <p>
      {% blocktranslate %}
      You are currently logged in as {{ user }}.
      {% endblocktranslate %}
      <button type="submit">{% translate 'Log out' %}</button>
    </p>
  </form>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate 'Log in' %}</button>
  </form>
</body>
</html>
