[project]
name = "django-hidp"
version = "0.0.0"
description = "Full-featured authentication system for Django projects"
authors = [
  { name = "Jaap Roes", email = "jroes@leukeleu.nl" },
  { name = "Dennis Bunskoek", email = "dbunskoek@leukeleu.nl" },
  { name = "Ramon de Jezus", email = "rdejezus@leukeleu.nl" },
  { name = "Thomas Kalverda", email = "tkalverda@leukeleu.nl" },
  { name = "Wouter de Vries", email = "wdevries@leukeleu.nl" },
]
requires-python = ">=3.11"
readme = "README.md"
license = "BSD-3-Clause"
license-files = ["LICENSE"]
classifiers = [
  "License :: OSI Approved :: BSD License",
  "Development Status :: 5 - Production/Stable",
  "Framework :: Django",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3",
]

dependencies = [
  "django>=4.2",
  "django-ratelimit>=4.1.0,<5",
  "jwcrypto>=1.5,<2",
  "requests>=2.32,<3",
]

[project.optional-dependencies]
oidc_provider = [
  "django-oauth-toolkit>=3.0.1",
  "djangorestframework>=3.15.2",
]
otp = [
  "django-otp>=1.5.0",
  "segno>=1.3.0",
]
recommended = [
  "django-hidp[otp]",
]
all = [
  "django-hidp[oidc_provider,otp]",
]

[dependency-groups]
dev = [
  "django-hidp[all]",
  "hidp-pycqa",
  "psycopg[binary]~=3.2",
]
docs = [
  "sphinx~=8.1.3",
  "sphinx-rtd-theme~=3.0.0",
  "myst-parser~=4.0.0",
]

[tool.uv.sources.hidp-pycqa]
path = "../hidp-pycqa"
editable = true

[project.urls]
Documentation = "https://leukeleu.github.io/django-hidp/"
Repository = "https://github.com/leukeleu/django-hidp/"
Issues = "https://github.com/leukeleu/django-hidp/issues"
Releasenotes = "https://github.com/leukeleu/django-hidp/releases"

[build-system]
requires = ["uv_build"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "hidp"
module-root = ""

[tool.ruff]
extend = "../hidp-pycqa/pyproject.toml"

[tool.ruff.lint.extend-per-file-ignores]
"hidp/config/*" = [
  "N803",  # ALL_UPPERCASE is OK in config code
]
"docs/conf.py" = [
  "INP001",  # Not a package
]

[tool.coverage.run]
branch = true
source = [
  "hidp",
  "tests",
]
omit = [
  "**/migrations/*",
  "tests/translations/management/commands/makemessages.py",
]

[tool.coverage.report]
show_missing = true
skip_covered = true
skip_empty = true

[tool.coverage.html]
directory = "../../var/htmlcov"
