{% load static %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{# Override this in templates to set the page title #}{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block extra_head %}{# Override this in templates to add CSS and JS to the head #}{% endblock %}
</head>
<body>
  {% block body %}{# Override this in templates to add content #}{% endblock %}
  {% block extra_js %}{# Override this in templates to add extra JS #}{% endblock %}
</body>
</html>
