name: Release

concurrency:
  # Only one release job can run at a time
  group: ${{ github.workflow }}

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release HIdP

    runs-on: ubuntu-latest
    timeout-minutes: 10

    environment: pypi
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
      contents: read

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Linting, checks & tests
        uses: ./.github/actions/python-qa
        with:
          working-directory: './packages/hidp'
          django-version: '5.2'
          python-version: '3.12'

      - name: Set version
        run: uv version ${GITHUB_REF#refs/tags/}

      - name: Build
        run: make build
        working-directory: ./packages/hidp

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./var/dist
