name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Linting, checks & tests (${{ toJSON(matrix) }})

    strategy:
      matrix:
        django-version: ['4.2', '5.2']
        python-version: ['3.11', '3.12', '3.13']
        working-directory: ['./packages/hidp']
        exclude:
          - django-version: '4.2'
            python-version: '3.13'
        include:
          - working-directory: './project'
            python-version: '3.12'
            django-version: '4.2'

    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Linting, checks & tests
        uses: ./.github/actions/python-qa
        with:
          working-directory: ${{ matrix.working-directory }}
          django-version: ${{ matrix.django-version }}
          python-version: ${{ matrix.python-version }}

      - name: Build documentation
        uses: ./.github/actions/build-hidp-docs
        if: ${{ matrix.working-directory == './packages/hidp' && matrix.django-version == '4.2' && matrix.python-version == '3.12' }}

  # Report success/failure
  success:
    name: Success
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs:
      - test
    steps:
      - run: exit 1
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
